<p>
  <strong>タイトル:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @blog.user.name %>
</p>

<%= link_to '編集', edit_blog_path(@blog) %> |
<%= link_to 'ブログ一覧に戻る', blogs_path %>
