<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%=@blog.title %></h3>
      </div>
      <div class="panel-body">
        <% if @blog.user.img_path_updated.present? %>
        <%= image_tag(@blog.user.img_path_updated,:size => "48x48") %><br>
        <% else %>
        <%= image_tag(@blog.user.img_path,:size => "48x48") %><br>
        <% end %>
        <p>
          <strong>投稿者:</strong>
          <%= @blog.user.name %>
        </p>
        <p>
          <strong>投稿日時:</strong>
          <%= @blog.created_at %>
        </p>
        <p>
          <strong>内容:</strong><br>
          <%= @blog.content %>
        </p>

        <% if @blog.user.id == current_user.id %>
        <%= link_to '編集', edit_blog_path(@blog) %>
        <% end %>
        <%= link_to 'ブログ一覧に戻る', blogs_path %>
      </div>
    </div>
  </div>
</div>
