<div class="container">
  <div class="row">
    <div class="text-center">
      <%= devise_error_messages!%>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-md-offset-4 col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
            <h2 class="panel-title">プロフィール変更</h2>
          </div>
          <div class="panel-body">
            <%= image_tag(@user.img_path,:size => "48x48") %><br><br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <p class="help-block h6">変更したくなければ空欄のままにして下さい。</p>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
        <p class="help-block h6">変更するためには現在のパスワードを入力して下さい。</p>
      </div>

      <div class="actions">
        <%= f.submit "更新",class: "btn btn-primary"%>
      </div>
            <br>
      <% end %>
                              <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete ,class: "btn btn-danger"%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= link_to "TOPに戻る", root_path %>
    </div>
  </div>


