  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h2>ユーザ一覧</h2><br>
    </div>
  </div>
<% @users.each do |user| %>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= user.id %>:<%= link_to user.name.blank? ? "名無しさん" : user.name,user %></h3>
    </div>
      <div class="panel-body">
          <% if user.img_path_updated.present? %>
            <%= image_tag(user.img_path_updated,:size => "48x48") %><br>
          <% else %>
            <%= image_tag(user.img_path,:size => "48x48") %><br>
          <% end %>
          <%= link_to '詳細', user %><br>

          <% if user.id == current_user.id %>
            <%= link_to 'プロフィール変更' , edit_user_registration_path %>
          <% end %>
          <% if user.id != current_user.id %>
              <div class="item">
                <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
              </div>
              <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>
