  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h2>ユーザ一覧</h2><br>
    </div>
  </div>
<% @users.each do |user| %>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= user.id %>:<%= user.name.blank? ? "名無しさん" : user.name %></h3>
          </div>
      <div class="panel-body">
          <% if user.img_path_updated.present? %>
          <%= image_tag(user.img_path_updated,:size => "48x48") %><br>
          <% else %>
          <%= image_tag(user.img_path,:size => "48x48") %><br>
          <% end %>
          認証方法：<%= user.provider.blank? ? "メール" : user.provider %><br>
          <% if user.id == current_user.id %>
          <%= link_to 'プロフィール変更' , edit_user_registration_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>