<% @users.each do |user| %>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag(user.img_path,:size => "48x48") %><br>
          <h3><%= user.name %></h3>
          <p><%= user.profile %></p>
          <% if user.id == current_user.id %>
          <%= link_to 'プロフィール編集' , edit_user_registration_path %>
          <%= link_to 'アイコン変更' , edit_user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>