<%= form_for(@user) do |f| %>

    <h3>アイコンの変更</h3>
    <br>
    <%= f.label :画像 %>
    <%= image_tag @user.image.thumb.url if @user.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <%= link_to 'ユーザ一覧に戻る', users_path %>

<% end %>