

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<%= f.hidden_field :reset_password_token %>

<div class="container">
 <form class="form-horizontal">
   <div class="row">
     <div class="col-md-offset-5 col-md-3 bg-info">
       <h2>パスワード変更</h2>
       <br>
       <div class="form-group">
         <%= f.label :password, "新しいパスワード" %><br />
         <% if @minimum_password_length %>
         <em>(<%= @minimum_password_length %> 文字以上 )</em><br />
         <% end %>
         <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
       </div>
       <div class="form-group">
         <%= f.label :password_confirmation, "パスワード確認" %><br />
         <%= f.password_field :password_confirmation, autocomplete: "off" %>
       </div>
       <div class="actions">
         <%= f.submit "パスワード変更",class: "btn btn-primary" %>
       </div>
       <% end %>
       <br>
       <%= render "devise/shared/links" %>
       <br>
       <%= link_to "TOPに戻る", root_path %>
     </div>
   </div>
  </form>
  <div class="row">
    <div class="text-center">
      <%= devise_error_messages!%>
    </div>
  </div>
</div>
