<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>


<div class="container">
  <form class="form-horizontal">
   <div class="row">
     <div class="col-md-offset-5 col-md-3 bg-info">
       <h3>パスワードリセット</h3>
       <br>
       <div class="form-group">
         <%= f.label :メールアドレス %><br />
         <%= f.email_field :email, autofocus: true %>
       </div>
       <div class="actions">
         <%= f.submit "パスワードリセットメール送信",class: "btn btn-primary" %>
       </div>
       <% end %>
       <br>
       <%= render "devise/shared/links" %>
       <br>
       <%= link_to "TOPに戻る", root_path %>
     </div>
   </div>
  </form>
  <div class="row">
    <div class="text-center">
      <%= devise_error_messages!%>
    </div>
  </div>
</div>
