<div class="container">

  <div class="task col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 table-responsive">
    <h3>依頼一覧</h3>
      <%= link_to '新規依頼', new_user_submit_request_path %> |
      <%= link_to '依頼されている一覧', inbox_user_submit_requests_path %><br>
  <div class="submit_requests_<%= current_user.id %>" id="submit_requests_<%= current_user.id %>" >
    <%= render 'submit_requests_list', submit_requests: @submit_requests %>
  </div>
</div>
</div>
