<%= form_for @inquiry do |f| %>
  <div class="field">
    name: <%= @inquiry.name %>
    <%= f.hidden_field :name   # <=データ保持 %>
  </div>

  <div class="field">
    email: <%= @inquiry.email %>
    <%= f.hidden_field :email # <=データ保持 %>
  </div>

  <div class="field">
    message: <%= @inquiry.message %>
    <%= f.hidden_field :message # <=データ保持 %>
  </div>

  <div class="actions">
    <%= f.submit 'Back!', name: 'back'  # <=戻る為のname %>
  </div>
  <div class="actions">
    <%= f.submit 'create!' %>
  </div>
<% end %>
