<%= form_for @inquiry, :url => inquiries_confirm_path do |f| # <= 変更 %>

    <h1>お問い合わせ</h1>


  <% if @inquiry.errors.any? %>

      <strong>入力内容にエラーがあります</strong>

      <ul>
        <% @inquiry.errors.full_messages.each do |attr, msg| %>
          <li><%= attr %><%= msg %></li>
        <% end %>
      </ul>

  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit 'next!' %>
  </div>
  <%= link_to 'TOP', root_path %>
<% end %>
