<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2>お問合わせ一覧</h2>
  </div>
</div>
<% @inquiries.each do |inquiry| %>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%=inquiry.subject %></h3>
    </div>
      <div class="panel-body">

      <em>お名前　:<%= inquiry.name %></em><br>
      <em>お問合わせ日時:<%= inquiry.created_at %></em><br>
      <em>お問合わせ内容:<%= truncate(inquiry.message, :length => 5) %></em><br>
      <tr>
        <td><%= link_to '見る', inquiry %></td>
        <td><%= link_to '削除', inquiry, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    </div>
    </div>
  </div>
</div>
<% end %>
